<div class="container">
  <h2 class="text-light">You are commenting on post: </h2>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @post.title %></h2>
      <hr class="text-warning">
      <p class="card-text"><%= @post.body %></p>
      <hr class="text-warning">
      <small class="text-dark"> submitted <%= @post.posted_time %> by <%= @post.user.email %> to /s/<%= link_to @post.subshreddit.name, subshreddit_path(@post.subshreddit), class: "text-danger" %></small>
    </div>
  </div>
  <br />
  <%= form_for [@post, @comment] do |form| %>

    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@comment.errors.count, "Error") %>
          prohibited this comment from being submitted:
        </h2>
        <% @comment.errors.full_messages.each do |msg| %>
          <small><%= msg %></small>
        <% end %>
      </div>
    <% end %>
    <h2 class="text-light">Your Comment</h2>
    <div class="form-group">
        <%= form.text_area :body, rows: '10', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Submit", class: "btn btn-warning" %>
    </div>

  <% end %>
</div>