<div class="container-fluid">
	<div class="row">
		<div class="col-sm">
			<ul class="list-inline">
				<li class="list-inline-item"><%= link_to "Create a New Subreddit", new_subshreddit_path, class: "btn btn-warning" %></li>
				<li class="list-inline-item"><%= link_to "Create Post", new_post_path, class: "btn btn-danger" %></li>
			</ul>
			<div id="main-posts">
				<ul class="list-group list-group-flush">
				<% @posts.each do |post| %>			
					<li class="list-group-item list-group-item-action handy">
						<%= link_to post_path(post), class: "text-dark" do %>
							<h2><%= post.title %></h2><small class="text-success text-dark"> submitted <%= post.posted_time %> by <%= link_to post.user.nick, user_profile_path(post.user) %> to /s/<span><%= link_to post.subshreddit.name, subshreddit_path(post.subshreddit), class: "text-danger" %></span> -> </small>
							<%= link_to post_path(post) do %>
								<span class="badge badge-warning badge-pill"><%= post.comment_count %></span>
							<% end %>
						<% end %>
				  </li>
				</ul>
			  <% end %>
			</div>
		</div>
	</div>
</div>